## Hadoop query : hdfs + pig + hive

#### author: lhphong@tma

### 1.  Hadoop Query

In [1]:
# Show databases
hodoop fs -ls / 

# Create folder on HDFS
hadoop fs -mkdir -p user/local/temp

# Remove file or folder on HDFS
hadoop fs -rm -R -skipTrash /name_file

# 
hdfs dfs -chmod g+w /user/hive/warehouse
hdfs dfs -chmod g+w /tmp

# Put file data from local to HDFS
hadoop fs -put 'home/lhphong/Desktop/MOCK_DATA.csv' 'user/local/temp/data-customer.csv'

SyntaxError: invalid syntax (<ipython-input-1-c53cfdfb1a7b>, line 2)

### 2. Pig

#### Local mode

In [2]:
# Load data from local
pig -x local
data = load '/home/lhphong/Desktop/MOCK_DATA.csv' using PigStorage(',') as (id,first_name,last_name,email,gender,age,address);

# Show data
dump data;

# Show describe data
describe data;

# Quit
quit;

SyntaxError: invalid syntax (<ipython-input-2-d6bb9ef6f881>, line 2)

#### MapReduce mode

In [3]:
# load data map reduce - HDFS model
pig -x mapreduce
data = load '/tmp/data-customer.csv' using PigStorage(',') as (id:int,first_name:chararray,last_name:chararray,email:chararray);
bag1 = load 'home/lhphong/Desktop/tuple.data' Using PigStorage(' ') 
    as (B1:Bag{t1:tuple(t1a:int, t1b:int, t1c: int}, B2:Bag{t2:tuple(t2a:int, t2b:int)});
tuplebag = load 'home/lhphong/Desktop/tuple.data' Using PigStorage(' ') 
    as (t1:tuple(t1a:int, t1b:int, t1c: int), t2:tuple(t2a:int, t2b:int)), (B1:Bag{t1:tuple(t1a:int, t1b:int, t1c: int});

# Show data
dump data;

# Show describe
describe data;

# Quit
quit;

SyntaxError: invalid syntax (<ipython-input-3-b82f39318b09>, line 2)

#### Query

In [5]:
# Export query save on HDFS
store customers into '/tmp/output';

# LIMIT
limit = LIMIT customers 50;

# SPLIT keyword
SPLIT customers into AGE19 if $5 == 19, AGE40 if $5 == 40;
dump AGE19;
dump AGE40;

# Distinct keyword
distinct2 = DISTINCT distinct1;
dump distinct2;

# SAMPLE keyword: select random data 10% data == 0.1
sample1 = SAMPLE customers 0.1;
dump sipble1;

# FILTER data BY ...
filter1 = FILTER customers BY age == 19; or filter1 = FILTER customers BY $5 eq 19; # age == $5
filter2 = FILTER customers BY $5 > 40; or filter2 = FILTER customers BY $5 gt 40;
filter3 = FILTER customers BY $5 < 40; or filter3 = FILTER customers BY $5 lt 40;
filter4 = FILTER customers BY NOT age == 19; or filter4 = FILTER customers BY NOT $5 eq 19;
filter5 = FILTER customers BY age in (19,40); or filter5 = FILTER customers BY $5 in (19,40);
filter6 = FILTER customers BY address MATCHES 'C.*a'; 
filter6 = FILTER customers BY address MATCHES '.*(le|en).*';

# ORDER
order1 = ORDER customers BY age asc;
order2 = ORDER customers BY age desc;
dunmp order;

# GROUP BY
group1 = GROUP customers BY age;
group1 = GROUP customers BY (address, age);
dump group1;

# COGROUP
cogroup1 = COGROUP a by a1, b by b2
cogroup1 = COGROUP a by a1 inner, b by b2
cogroup1 = COGROUP a by a1, b by b2 inner
dump cogroup;

# FOREACH
x = FOREACH A GENERATE *;
x = FOREACH A GENERATE a1, a2;
x = FOREACH C GENERATE group, B.b2;
x = FOREACH C GENERATE group, A.(a1, a2);
x = FOREACH A GENERATE a1+a2 AS f1:int;
y = FILTER X BY f1 > 10;

# JOIN (inner)
alias = JOIN A BY a1, B BY b1;

# JOIN (outer)
C = JOIN A by $0 LEFT OUTER, B BY $0;        # Left outer join.
C = JOIN A BY $0 FULL, B BY $0;           # Full outer join.
C= JOIN A BY $0 LEFT, B BY $0 USING 'replicated';     # USING keyword 
C= JOIN A BY $0 RIGHT, B BY $0 USING 'bloom';         # Right outer join.
C = JOIN A BY name FULL, B BY name USING 'skewed';      # Full outer join.

SyntaxError: invalid syntax (<ipython-input-5-59bd8a1150f2>, line 2)

### 3. Hive

In [6]:
# Create database
CREATE SCHEMA IF NOT EXISTS `demo_hive`;

# Create table "offers" in database "demo_hive"
USE demo_apache_hive;

CREATE EXTERNAL TABLE offers (offerid BIGINT,category BIGINT,quantity INT,company BIGINT,offervalue DOUBLE,brand BIGINT)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE
tblproperties("skip.header.line.count"="1"); 

# Load data for table "offers"
LOAD DATA local inpath "/home/lhphong/Desktop/offers.csv" INTO table offers;

# Select query
SELECT * from offers LIMIT 5;

# Drop database
DROP TABLE IF EXISTS offers;

# Alter in table
ALTER TABLE name RENAME TO new_name
ALTER TABLE name ADD COLUMNS (col_spec[, col_spec ...])
ALTER TABLE name DROP [COLUMN] column_name
ALTER TABLE name CHANGE column_name new_name new_type
ALTER TABLE name REPLACE COLUMNS (col_spec[, col_spec ...])

SyntaxError: invalid syntax (<ipython-input-6-a55c5814ac9a>, line 2)

#### Query

In [8]:
# Select ... Where
SELECT [ALL | DISTINCT] select_expr, select_expr, ... 
FROM table_reference 
[WHERE where_condition] 
[GROUP BY col_list] 
[HAVING having_condition] 
[CLUSTER BY col_list | [DISTRIBUTE BY col_list] [SORT BY col_list]] 
[LIMIT number];

# Select ... Order
SELECT [ALL | DISTINCT] select_expr, select_expr, ... 
FROM table_reference 
[WHERE where_condition] 
[GROUP BY col_list] 
[HAVING having_condition] 
[ORDER BY col_list]] 
[LIMIT number];

# Select ... Group by
SELECT [ALL | DISTINCT] select_expr, select_expr, ... 
FROM table_reference 
[WHERE where_condition] 
[GROUP BY col_list] 
[HAVING having_condition] 
[ORDER BY col_list]] 
[LIMIT number];

# Select Joins
hive> SELECT c.ID, c.NAME, c.AGE, o.AMOUNT 
FROM CUSTOMERS c JOIN ORDERS o 
ON (c.ID = o.CUSTOMER_ID);

hive> SELECT c.ID, c.NAME, o.AMOUNT, o.DATE    # Joins Left
FROM CUSTOMERS c 
LEFT OUTER JOIN ORDERS o 
ON (c.ID = o.CUSTOMER_ID);

hive> SELECT c.ID, c.NAME, o.AMOUNT, o.DATE # FULL OUTER JOIN
FROM CUSTOMERS c 
FULL OUTER JOIN ORDERS o 
ON (c.ID = o.CUSTOMER_ID);

SyntaxError: invalid syntax (<ipython-input-8-ed0db3472bd1>, line 2)