## Query data : SQL, Hive, Pandas, MongoDB

#### author : lhphong@tma

### 1. Create database

In [ ]:
# SQL
CREATE SCHEMA IF NOT EXISTS 'name_database' DEFAULT CHARACTER SET utf8;
USE 'name_database';

# Hive
CREATE SCHEMA IF NOT EXISTS 'name_database';
USE 'name_database';

# MongoDB
use 'NAME_DATABASE';

# Pandas
df = pd.DataFrame({'name_table' : ['column 1', 'column 2', 'column 3']})

### 2. Drop database

In [ ]:
# SQL + Hive 
DROP 'name_database'

# MongoDB
use 'name_database'
db.dropDatabase()

### 3. SELECT, WHERE, DISTINCT, LIMIT

In [5]:
# SQL 
SELECT * FROM name_database
SELECT id FROM name_database WHERE colum_name = 'keyword'
SELECT DISTINCT column1, column2, ... FROM table_name;
SELECT * FROM name_databse LIMIT 10

# Hive

# MongoDB

# Pandas
name_data
name_data[name_data.column_name == 'keyword'].id
name_data.colum1.unique()
name_data.head(10)

SyntaxError: invalid syntax (<ipython-input-5-e41d67360378>, line 2)

### 4. SELECT with multiple conditions

In [6]:
# SQL
SELECT * FROM name_database WHERE name = 'key' and value = 'var'
SELECT id, name, value FROM name_database WHERE name = 'key' and value = 'var'

# Hive

# MongoDB

# Pandas
name_data[(name_data.name == 'key') & (name_data.value)]
name_data[(name_data.name == 'key') & (name_data.value)].[['id', 'name', 'value']]

SyntaxError: invalid syntax (<ipython-input-6-d809e8a52188>, line 2)

## 5. ORDER BY

In [7]:
# SQL
SELECT * FROM name_data where airport_ident = 'KLAX' order by type
SELECT * FROM name_data where airport_ident = 'KLAX' order by type desc

# Pandas
name_data[name_data.airport_ident == 'KLAX'].sort_values('type')
name_data[name_data.airport_ident == 'KLAX'].sort_values('type', ascending=False)

SyntaxError: invalid syntax (<ipython-input-7-722eb6be6603>, line 2)

## 6. INâ€¦ NOT IN

In [8]:
# SQL
select * from airports where type in ('heliport', 'balloonport')
select * from airports where type not in ('heliport', 'balloonport')

# Pandas
airports[airports.type.isin(['heliport', 'balloonport'])]
airports[~airports.type.isin(['heliport', 'balloonport'])]

SyntaxError: invalid syntax (<ipython-input-8-7a986320954d>, line 2)

## 7. GROUP BY, COUNT, ORDER BY

In [9]:
# SQL
select iso_country, type, count(*) from airports group by iso_country, type order by iso_country, type
select iso_country, type, count(*) from airports group by iso_country, type order by iso_country, count(*) desc

select iso_country, type, count(*) from airports group by iso_country, type order by iso_country, type
select iso_country, type, count(*) from airports group by iso_country, type order by iso_country, count(*) desc

# Pandas
airports.groupby(['iso_country', 'type']).size()
airports.groupby(['iso_country', 'type']).size().to_frame('size').reset_index().sort_values(['iso_country', 'size'], ascending=[True, False])

airports.groupby(['iso_country', 'type']).size()
airports.groupby(['iso_country', 'type']).size().to_frame('size').reset_index().sort_values(['iso_country', 'size'], ascending=[True, False])

SyntaxError: invalid syntax (<ipython-input-9-6ae50fe1dff8>, line 2)

## 8. HAVING

In [11]:
# SQL
select type, count(*) from airports where iso_country = 'US' group by type having count(*) > 1000 order by count(*) desc

# Pandas
airports[airports.iso_country == 'US'].groupby('type').filter(lambda g: len(g) > 1000).groupby('type').size().sort_values(ascending=False)

SyntaxError: invalid syntax (<ipython-input-11-39ed7b90e85f>, line 2)

## 9. Top N records

In [13]:
# SQL
select iso_country from by_country order by size desc limit 10
select iso_country from by_country order by size desc limit 10 offset 10

# Pandas
by_country.nlargest(10, columns='airport_count')
by_country.nlargest(10, columns='airport_count')

SyntaxError: invalid syntax (<ipython-input-13-c9ec87d165cf>, line 2)

## 10. Aggregate functions (MIN, MAX, MEAN)

In [15]:
# SQL
select max(length_ft), min(length_ft), mean(length_ft), median(length_ft) from runways

# Pandas
runways.agg({'length_ft': ['min', 'max', 'mean', 'median']})

SyntaxError: invalid syntax (<ipython-input-15-177e08a9615e>, line 2)

## 11. JOIN

In [17]:
# SQL
select airport_ident, type, description, frequency_mhz 
from airport_freq join airports on airport_freq.airport_ref = airports.id 
where airports.ident = 'KLAX'

# Pandas
airport_freq.merge(airports[airports.ident == 'KLAX'][['id']], left_on='airport_ref', right_on='id', how='inner')[['airport_ident', 'type', 'description', 'frequency_mhz']]

SyntaxError: invalid syntax (<ipython-input-17-099c871ef96b>, line 2)

## 12. UNION ALL and UNION

In [18]:
# SQL
select name, municipality from airports where ident = 'KLAX' 
union all select name, municipality from airports where ident = 'KLGB'

# Pandas
pd.concat([airports[airports.ident == 'KLAX'][['name', 'municipality']], 
           airports[airports.ident == 'KLGB'][['name', 'municipality']]])

SyntaxError: invalid syntax (<ipython-input-18-b82fa02b0f73>, line 2)

## 13. INSERT

In [20]:
# SQL
create table heroes (id integer, name text);
insert into heroes values (1, 'Harry Potter');
insert into heroes values (2, 'Ron Weasley');
insert into heroes values (3, 'Hermione Granger');

# Hive
CREATE EXTERNAL TABLE offers (
    offerid INT,
    category INT,
    quantity INT,
    company INT,
    offervalue DOUBLE,
    brand INT
);
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE
tblproperties("skip.header.line.count"="1"); 

# Pandas
df1 = pd.DataFrame({'id': [1, 2], 'name': ['Harry Potter', 'Ron Weasley']})
df2 = pd.DataFrame({'id': [3], 'name': ['Hermione Granger']})
...
pd.concat([df1, df2]).reset_index(drop=True)

SyntaxError: invalid syntax (<ipython-input-20-6c4e9587e5f0>, line 2)

## 14. UPDATE

In [21]:
# SQL 
update airports set home_link = 'http://www.lawa.org/welcomelax.aspx' where ident == 'KLAX'

# Pandas
airports.loc[airports['ident'] == 'KLAX', 'home_link'] = 'http://www.lawa.org/welcomelax.aspx'

SyntaxError: invalid syntax (<ipython-input-21-890cc429c115>, line 2)

## 15. DELETE

In [22]:
# SQL
delete from lax_freq where type = 'MISC'

# Pandas
lax_freq = lax_freq[lax_freq.type != 'MISC']
lax_freq.drop(lax_freq[lax_freq.type == 'MISC'].index)

SyntaxError: invalid syntax (<ipython-input-22-19a4d328f639>, line 2)

## 16. And more!

In [ ]:
# Pandas add new column 
df['total_cost'] = df['price'] * df['quantity']

# Pandas to...
df.to_csv(...)  # csv file
df.to_hdf(...)  # HDF5 file
df.to_pickle(...)  # serialized object
df.to_sql(...)  # to SQL database
df.to_excel(...)  # to Excel sheet
df.to_json(...)  # to JSON string
df.to_html(...)  # render as HTML table
df.to_feather(...)  # binary feather-format
df.to_latex(...)  # tabular environment table
df.to_stata(...)  # Stata binary data files
df.to_msgpack(...)	# msgpack (serialize) object
df.to_gbq(...)  # to a Google BigQuery table.
df.to_string(...)  # console-friendly tabular output.
df.to_clipboard(...) # clipboard that can be pasted into Excel

# Pandas plot it
top_10.plot(
    x='iso_country', 
    y='airport_count',
    kind='barh',
    figsize=(10, 7),
    title='Top 10 countries with most airports')